In [10]:
setwd('/import/oa/')

In [11]:
library(rtracklayer)
gtf <- rtracklayer::import('/import/reference//mmu_a/Mus_musculus.GRCm39.112.gtf')
gtf<-as.data.frame(gtf)

In [12]:
head(gtf,2)

  seqnames start     end       width strand source type       score phase
1 1        108344807 108347562 2756  +      havana gene       NA    NA
2 1        108344807 108347562 2756  +      havana transcript NA    NA
  gene_id            ... transcript_source transcript_biotype tag
1 ENSMUSG00000104478 ... NA                NA                 NA
2 ENSMUSG00000104478 ... havana            TEC                Ensembl_canonical
  transcript_support_level            exon_number exon_id exon_version ccds_id
1 NA                                  NA          NA      NA           NA
2 NA (assigned to previous version 1) NA          NA      NA           NA
  protein_id protein_version
1 NA         NA
2 NA         NA

In [13]:
colnames(gtf)

 [1] "seqnames"                 "start"
 [3] "end"                      "width"
 [5] "strand"                   "source"
 [7] "type"                     "score"
 [9] "phase"                    "gene_id"
[11] "gene_version"             "gene_name"
[13] "gene_source"              "gene_biotype"
[15] "transcript_id"            "transcript_version"
[17] "transcript_name"          "transcript_source"
[19] "transcript_biotype"       "tag"
[21] "transcript_support_level" "exon_number"
[23] "exon_id"                  "exon_version"
[25] "ccds_id"                  "protein_id"
[27] "protein_version"

In [14]:
length(unique(gtf$gene_name))

[1] 56417

In [16]:
library(dplyr)

In [27]:
protein_coding.gtf<-gtf %>% 
dplyr::select(c('transcript_id',"gene_name")) %>% 
 na.omit()

In [28]:
protein_coding.gtf = protein_coding.gtf[!duplicated(protein_coding.gtf$transcript_id),]

In [55]:
length(unique(protein_coding.gtf$gene_name))

[1] 56416

In [ ]:
count = read.table('./test_count_matrix.txt',header =T)
library(tidyr)
count <- count %>% 
  tidyr::separate(gene_id,into = c("gene_id"),sep="\\.") 
head(count,2)
colnames(protein_coding.gtf)[1] = 'gene_id'
head(protein_coding.gtf,2)
exp = left_join(count,protein_coding.gtf,by = 'gene_id')
expv= exp[,c(16,2:15)]
expv = expv[!duplicated(expv$gene_name),]
head(expv,2)
colnames(expv)[2:15] = c('Day0_1',
'Day0_2',
'Day0_3',
'Day1_1',
'Day1_2',
'Day1_3',
'Day3_1',
'Day3_2',
'Day3_3',
'cited2_con_1',
'cited2_con_2',
'cited2_con_3',
'cited2_ko_1',
'cited2_ko_2')
write.table(expv,file = 'final.count.txt',quote =F,row.names = F,sep = '\t')

In [60]:
count = read.table('./test_fpkm_matrix.txt',header =T)
library(tidyr)
count <- count %>% 
  tidyr::separate(gene_id,into = c("gene_id"),sep="\\.") 
head(count,2)
colnames(protein_coding.gtf)[1] = 'gene_id'
head(protein_coding.gtf,2)
exp = left_join(count,protein_coding.gtf,by = 'gene_id')
expv= exp[,c(16,2:15)]
expv = expv[!duplicated(expv$gene_name),]
head(expv,2)
colnames(expv)[2:15] = c('Day0_1',
'Day0_2',
'Day0_3',
'Day1_1',
'Day1_2',
'Day1_3',
'Day3_1',
'Day3_2',
'Day3_3',
'cited2_con_1',
'cited2_con_2',
'cited2_con_3',
'cited2_ko_1',
'cited2_ko_2')
write.table(expv,file = 'final.fpkm.txt',quote =F,row.names = F,sep = '\t')

Warning message:
"Expected 1 pieces. Additional pieces discarded in 115988 rows [1, 2, 3, 4, 5,
6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...]."

  gene_id            GSM4419692 GSM4419693 GSM4419694 GSM4419696 GSM4419697
1 ENSMUST00000000001 44.19097   48.00576   41.79724   31.87979   23.01553
2 ENSMUST00000000003  0.00000    0.00000    0.00000    0.00000    0.00000
  GSM4419698 GSM4419700 GSM4419701 GSM4419702 GSM4419704 GSM4419705 GSM4419706
1 21.73089   29.42195   22.98232   29.77535   30.70625   29.18618   29.15649
2  0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000
  GSM4419707 GSM4419708
1 38.36997   36.6258
2  0.00000    0.0000

  gene_id            gene_name
2 ENSMUST00000194081 Gm38212
5 ENSMUST00000194393 Gm7449

  gene_name GSM4419692 GSM4419693 GSM4419694 GSM4419696 GSM4419697 GSM4419698
1 Gnai3     44.19097   48.00576   41.79724   31.87979   23.01553   21.73089
2 Pbsn       0.00000    0.00000    0.00000    0.00000    0.00000    0.00000
  GSM4419700 GSM4419701 GSM4419702 GSM4419704 GSM4419705 GSM4419706 GSM4419707
1 29.42195   22.98232   29.77535   30.70625   29.18618   29.15649   38.36997
2  0.00000    0.00000    0.00000    0.00000    0.00000    0.00000    0.00000
  GSM4419708
1 36.6258
2  0.0000

In [61]:
count = read.table('./test_tpm_matrix.txt',header =T)
library(tidyr)
count <- count %>% 
  tidyr::separate(gene_id,into = c("gene_id"),sep="\\.") 
head(count,2)
colnames(protein_coding.gtf)[1] = 'gene_id'
head(protein_coding.gtf,2)
exp = left_join(count,protein_coding.gtf,by = 'gene_id')
expv= exp[,c(16,2:15)]
expv = expv[!duplicated(expv$gene_name),]
head(expv,2)
colnames(expv)[2:15] = c('Day0_1',
'Day0_2',
'Day0_3',
'Day1_1',
'Day1_2',
'Day1_3',
'Day3_1',
'Day3_2',
'Day3_3',
'cited2_con_1',
'cited2_con_2',
'cited2_con_3',
'cited2_ko_1',
'cited2_ko_2')
write.table(expv,file = 'final.tpm.txt',quote =F,row.names = F,sep = '\t')

Warning message:
"Expected 1 pieces. Additional pieces discarded in 115988 rows [1, 2, 3, 4, 5,
6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...]."

  gene_id            GSM4419692 GSM4419693 GSM4419694 GSM4419696 GSM4419697
1 ENSMUST00000000001 72.607     75.0841    64.036     48.757     33.3087
2 ENSMUST00000000003  0.000      0.0000     0.000      0.000      0.0000
  GSM4419698 GSM4419700 GSM4419701 GSM4419702 GSM4419704 GSM4419705 GSM4419706
1 31.5995    46.0278    34.9769    45.372     50.3825    47.9796    47.4484
2  0.0000     0.0000     0.0000     0.000      0.0000     0.0000     0.0000
  GSM4419707 GSM4419708
1 63.8274    59.4362
2  0.0000     0.0000

  gene_id            gene_name
2 ENSMUST00000194081 Gm38212
5 ENSMUST00000194393 Gm7449

  gene_name GSM4419692 GSM4419693 GSM4419694 GSM4419696 GSM4419697 GSM4419698
1 Gnai3     72.607     75.0841    64.036     48.757     33.3087    31.5995
2 Pbsn       0.000      0.0000     0.000      0.000      0.0000     0.0000
  GSM4419700 GSM4419701 GSM4419702 GSM4419704 GSM4419705 GSM4419706 GSM4419707
1 46.0278    34.9769    45.372     50.3825    47.9796    47.4484    63.8274
2  0.0000     0.0000     0.000      0.0000     0.0000     0.0000     0.0000
  GSM4419708
1 59.4362
2  0.0000