### sample 74

In [2]:
setwd('/import/liujing/data2/')

In [3]:
load('sample74.model.gene.rda')

In [4]:
head(da2,2)

  sample FAM200B  BCL2A1   IGJ      TXN
1 C10    4.886505 22.32717 21.40125  7.655688
2 C11    6.201921 32.12134 21.30293 17.794071

In [5]:
cli74 = read.table('./sample74.cli.txt',header =T,sep = '\t')

In [6]:
head(cli74,2)

  group sample gender age BMI      Hb  RBC  WBC  PLT ALT   ... UA  GLU TG  TC
1 CI    CI2    1      52  43.02772 164 5.16 6.79 281  63.6 ... 226 4.9 2.2 4.59
2 CI    CI3    1      61  51.90311  NA   NA   NA  NA 123.6 ... 264 4.3 1.0 3.57
  HDL.c LDL.C ApoA ApoB LP HCY
1 1.52  1.98  1.55 0.70 NA 11.4
2 0.90  1.80  0.98 0.62 NA 14.7

In [7]:
input = merge(da2,cli74,by.x= 'sample',by.y = 'sample')

In [8]:
head(input,2)

  sample FAM200B  BCL2A1   IGJ      TXN       group gender age BMI      Hb  ...
1 C1     5.615827 28.66226 37.85341 10.132857 CTR   1      54  21.45329 186 ...
2 C10    4.886505 22.32717 21.40125  7.655688 CTR   1      56  25.76298 151 ...
  UA  GLU TG  TC   HDL.c LDL.C ApoA ApoB LP HCY
1 315 5.0 1.1 3.84 1.37  1.88  1.38 0.67 NA 18.1
2 364 5.3 1.4 5.91 1.25  3.51  1.27 1.12 NA 13.5

In [9]:
load('./GSVA_hall.RDA')

In [10]:
input2 = merge(a,input,by.x= 'sample',by.y = 'sample')

In [11]:
head(input2,2)

  sample Hscore     FAM200B  BCL2A1   IGJ      TXN       group gender age
1 C1     -0.6396225 5.615827 28.66226 37.85341 10.132857 CTR   1      54
2 C10    -0.9159736 4.886505 22.32717 21.40125  7.655688 CTR   1      56
  BMI      ... UA  GLU TG  TC   HDL.c LDL.C ApoA ApoB LP HCY
1 21.45329 ... 315 5.0 1.1 3.84 1.37  1.88  1.38 0.67 NA 18.1
2 25.76298 ... 364 5.3 1.4 5.91 1.25  3.51  1.27 1.12 NA 13.5

In [12]:
library(ggplot2)

Warning message:
"package 'ggplot2' was built under R version 4.2.3"

In [13]:
library(ggplot2)
library(ggpubr)

Warning message:
"package 'ggpubr' was built under R version 4.2.3"

In [14]:
colnames(input2)

 [1] "sample"  "Hscore"  "FAM200B" "BCL2A1"  "IGJ"     "TXN"     "group"
 [8] "gender"  "age"     "BMI"     "Hb"      "RBC"     "WBC"     "PLT"
[15] "ALT"     "AST"     "TBIL"    "DBIL"    "CR"      "BUN"     "UA"
[22] "GLU"     "TG"      "TC"      "HDL.c"   "LDL.C"   "ApoA"    "ApoB"
[29] "LP"      "HCY"

In [15]:
for (i in colnames(input2)[9:30]){
    #assign("cc",i)
        ggplot(input2, aes_string(x = 'Hscore', y =i, color = 'group')) +
    geom_point() +
    geom_smooth(method=lm, se=FALSE, fullrange=TRUE)+
    scale_shape_manual(values=c(16, 17))+
    scale_color_manual(values=c('#E69F00', '#56B4E9'))+
    theme(legend.position="top")+theme_bw()+stat_cor(data=input2, method = "spearman")
    ggsave(paste0('cor.',i,'.Hscore.pdf'),width = 6,height = 6)
}

Warning message:
"`aes_string()` was deprecated in ggplot2 3.0.0.
i Please use tidy evaluation idioms with `aes()`.
i See also `vignette("ggplot2-in-packages")` for more information."
`geom_smooth()` using formula = 'y ~ x'
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 8 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 8 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 8 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 1 row containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 1 row containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 1 row containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 1 row containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 1 row containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 2 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 2 rows containing missing values or values outside the scale range
(`geom_point()`)."
`geom_smooth()` using formula = 'y ~ x'
`geom_smooth()` using formula = 'y ~ x'
Warning message:
"Removed 6 rows containing non-finite outside the scale range (`stat_smooth()`)."
Warning message:
"Removed 6 rows containing non-finite outside the scale range (`stat_cor()`)."
Warning message:
"Removed 6 rows containing missing values or values outside the scale range
(`geom_point()`)."

### 协变量多因素

In [16]:
head(input2,2)

  sample Hscore     FAM200B  BCL2A1   IGJ      TXN       group gender age
1 C1     -0.6396225 5.615827 28.66226 37.85341 10.132857 CTR   1      54
2 C10    -0.9159736 4.886505 22.32717 21.40125  7.655688 CTR   1      56
  BMI      ... UA  GLU TG  TC   HDL.c LDL.C ApoA ApoB LP HCY
1 21.45329 ... 315 5.0 1.1 3.84 1.37  1.88  1.38 0.67 NA 18.1
2 25.76298 ... 364 5.3 1.4 5.91 1.25  3.51  1.27 1.12 NA 13.5

In [17]:
input3 = input2 %>% dplyr::select(sample,group,gender,age,BMI,GLU, LDL.C,WBC,DBIL)

In [32]:
load('./riskscore.s.rda')

In [33]:
riskscore = riskscore %>%   tibble::rownames_to_column(.,'sample')

In [35]:
input4 = dplyr::left_join(input3,riskscore,by = 'sample') %>%  tibble::column_to_rownames(.,'sample')

In [36]:
input4$gender = ifelse(input4$gender == 1,'M','F')

In [37]:
input4$age = ifelse(input4$age < 60,'<60','>=60')

In [38]:
input4$group = ifelse(input4$group =='CTR',0,1)

In [39]:
library("autoReg")
overall.log =  glm(group~.,data=input4,family=binomial())
model3<-autoReg(overall.log,uni=TRUE,milti=TRUE,threshold=0.05)
model3

   name         desc             0 (N=31)          1 (N=32)
1  gender       F                14 (45.2%)        17 (53.1%)
2               M                17 (54.8%)        15 (46.9%)
3  age          <60              12 (38.7%)        19 (59.4%)
4               >=60             19 (61.3%)        13 (40.6%)
5  BMI          Mean <U+00B1> SD 24.8 <U+00B1> 2.9 26.8 <U+00B1> 5.5
6  GLU          Mean <U+00B1> SD 5.7 <U+00B1> 0.9  6.1 <U+00B1> 1.4
7  LDL.C        Mean <U+00B1> SD 3.0 <U+00B1> 0.7  2.4 <U+00B1> 0.8
8  WBC          Mean <U+00B1> SD 5.2 <U+00B1> 1.2  6.1 <U+00B1> 2.4
9  DBIL         Mean <U+00B1> SD 4.2 <U+00B1> 1.8  4.6 <U+00B1> 1.6
10 fold_predict Mean <U+00B1> SD 0.2 <U+00B1> 0.3  0.8 <U+00B1> 0.3
   id           OR (univariable)               OR (multivariable)
1  genderF
2  genderM      0.73 (0.27-1.96, p=.528)
3  age<60
4  age>=60      0.43 (0.16-1.19, p=.103)
5  BMI          1.13 (0.98-1.30, p=.103)
6  GLU          1.40 (0.86-2.28, p=.173)
7  LDL.C        0.34 (0.16-0.72, p=.005)       0.21 (0.06-0.79, p=.021)
8  WBC          1.29 (0.95-1.74, p=.098)
9  DBIL         1.15 (0.86-1.55, p=.352)
10 fold_predict 294.41 (27.34-3169.80, p<.001) 602.42 (30.75-11800.57, p<.001)