In [1]:
setwd('/import/liujing/data/')

In [2]:
data1 = read.table('../test.txt',header =T,sep = '\t',check.names =  F)

In [3]:
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 4.2.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
Type = c(rep(1,16),rep(0,18))

In [5]:
head(data1,2)

  Gene_name CI10 CI11 CI12      CI13 CI14 CI15 CI16 CI1 CI2 ... H18 H1 H2
1 RNA5SP111 0    0    0.6257938 0    0    0    0    0   0   ... 0   0  0
2 RNA5SP110 0    0    0.0000000 0    0    0    0    0   0   ... 0   0  0
  H3       H4 H5 H6       H7        H8 H9
1 1.409555 0  0  1.985912 0.7690921 0  0
2 0.000000 0  0  0.000000 0.0000000 0  0

In [6]:
data1 = data1[!duplicated(data1$Gene_name),]

In [7]:
rownames(data1) = data1[,1]
data1 = data1[,-1]

In [8]:
data1 = data1 %>%  t() %>% as.data.frame()

In [9]:
save(data1,Type,file = 'expr2.test.rda')